body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f4f4;
}

.typing-container {
  position: relative;
}
h1{
  font-family: Arial (sans-serif),'Arial New', Courier, monospace;
  color: rgb(255, 255, 255);
  z-index: 1;
  font-size: min(20vh,20vw);
  opacity: 0.8;
}
.typing-text {
  color: #fff;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
   height: 1.2em; 
  font-size: 3rem;
  border-right: 2px solid rgb(255, 255, 255);
  animation: typing 3s steps(45, end);
}

@keyframes typing {
  from { width: 0 }
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  opacity: 1;
  animation: blink-caret 0.75s infinite alternate;
}

@keyframes blink-caret {
  to { opacity: 0 }
  /* 0% { opacity: 1 }
  50% { opacity: 0 } */
}